body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #ff6f69;
  padding: 0 20px;
  padding-bottom: 0;
}

textarea {
  width: 99%;
  resize: none;
  font-size: 25px;
  background-color: #e7e7e7;
  outline: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #e7e7e7;
}
.row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.key {
  width: 60px;
  height: 60px;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.key.active {
  background-color: #333;
  color: #fff;
}

.key:hover {
  color: #fff;
  background-color: #555;
}

.key.remove {
  animation: box_animation 0.5s linear;
}

@keyframes box_animation {
  0% {
    background-color: #333;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #333;
  }
}

.Backspace {
  width: 147px;
}

/* second row */

.Tab {
  width: 73px;
}

.Delete {
  width: 66px;
}
/* third row */

.CapsLock {
  width: 145px;
}

.Enter {
  width: 130px;
}

/* fourth row */

.ShiftLeft {
  width: 145px;
}
.ShiftRight {
  width: 130px;
}

/* fifth row */

.Space {
  color: #96ceb4;
  opacity: 0.8;
  width: 486px;
}

/* .Backspace,
.Tab,
.CapsLock,
.ShiftRight,
.ShiftLeft,
.ControlLeft,
.ControlRight,
.Meta,
.AltLeft,
.AltRight,
.ArrowUp,
.ArrowRight,
.ArrowDown,
.ArrowLeft,
.Enter,
.Delete {
  background-color: #333;
  opacity: 0.8;
  color: #fff;
} */

.up {
  /* background-image: url('../assets/sort-up-solid.svg'); */
  background-repeat: no-repeat;
  background-position: center;
}